body{
    background-color: #0e204e;
    overflow: hidden;
}

.circle{
    background-color: #b81413;
    border-radius: 50%;
    height: 60%;
    width: auto;
    aspect-ratio: 1/1;
    display: inline-block;
    position: absolute;
}

#circle1{
    top: -23%;
    left: 7%;
}

#circle2{
    left: -13%;
    top: 5%;
}

#circle3{
    left: -15%;
    top: -20%;
}

#circle4{
    right: 7%;
    bottom: -23%;
}

#circle5{
    right: -13%;
    bottom: 5%;
}

#circle6{
    right: -15%;
    bottom: -20%;
}

.titlegame {
    position: absolute;
    font-family: 'Nice Honey';
    font-size: 550%;
    color: white;
    left: 40%;
    top: 2%;
    margin-top: 10%; 
    margin-bottom: 0;
}

#titlegame1{
    top: 33%;
    left: 44%;
    margin-top: 0; 
    margin-bottom: 3%;
} 

#playbtn {
    font-size: 450%;
    position: absolute;
    right: 44.3%;
    top: 50%;
}

#versionp {
    font-size: 80%; 
    color: white;  
    width: fit-content;
    position: absolute;
    bottom: 3%;
    right: 44%;
}

.cardmenu {
    border: white solid 4px;
    border-radius: 18%;
    height: 27%;
    width: auto;
    position: absolute;
    z-index: 1;
}

#card1{
    right: 33%;
    top: 40%;
    rotate: 30deg;
}

#card2{
    right: 32%;
    top: 45%;
    rotate: 55deg;
}

#card3{
    right: 33%;
    top: 50%;
    rotate: 75deg;
}