@font-face {
    font-family: 'Nice Honey';
    src: url('Nice\ Honey.otf') format('opentype');
}

::selection {
    background: #2e20ec; 
    color: #fff; 
    border-radius: 15px;
}

::-moz-selection { 
    background: #2e20ec; 
    color: #fff;
}

body{
    background: #0D214F;
}

#header {
    display: flex;
    justify-content: center;
}

#sorteio{
    font-size: 24px;
    top:3%;
    left:10%;
}

.button {
    font-family: 'Nice Honey';
    position:absolute;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b81414;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}
  
.button:hover {
    background-color: #861111
}
  
.button:active {
    background-color: #861111;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.title {
    font-size: 50px;
    font-family: 'Nice Honey';
    color: white;
    text-align: center;
}

#DecksConteudo {
    top: 7%;
    max-height: 75%;
    overflow-y: scroll;
}

#decksbtn {
    top: 3%;
    left: 21%;
}

.decks {
    font-size: 45px;
    display: flex;
    align-items: center;
}

.decks p {
    margin-left: 5%;
}

.decks button{
    right: 10%;
}

#abrirModalBtn {
    top: 3%;
    right: 17%;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    justify-content: center;
    align-items: center;
    transition: visibility 0.15s, opacity 0.15s linear;
}

.modal-conteudo {
    border: 3px white solid;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: #003b92;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Nice Honey';
    font-size: 30px;
}

.modal-none {
    visibility: visible;
    opacity: 1;
}

#ModalHelp div {
    overflow-y: scroll;
    max-height: 75%;
    top: 7%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#ModalHelp p {
    margin-bottom: 1px;
}

#copy {
    text-align: left;
}

#textcopy {
    font-family: 'Nice Honey';
    color: #fff;
    border-radius: 15px;
    margin-left: 15px;
    background-color: #d90c0c;
    resize: none;
    border: 2px solid white;
}

.Xmodal {
    position: fixed !important;
    top: 6% !important;
    right: 23% !important;

}

.fechar-modal {
    font-size: 60px;
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer;
}

.copyNpaste {
    display: flex;
    align-items: center;
}

.cpb {
    right: 5%;
    font-size: 20px;
    padding: 15px;
}

#codeinput {
    margin-left: 15px;
    font-family: 'Nice Honey';
    color: #fff;
    border-radius: 15px;
    background-color: #d90c0c;
    border: 2px solid white;
    width: 55%;
}

#helpb {
    top: 3%;
    right: 10%;
}

#help {
    height: 100%;
    width: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    z-index: 2;
}

.disappear {
    opacity: 0%;
}

.input {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 11px; 
    column-gap: 30px;
    aspect-ratio: 2/1.14;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.card {
    border-radius: 10px;
    height: 100%;
    width: auto;
    border-radius: 10px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    z-index: 1;
    background-color: #5a0909;
}

.back {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 400ms ease;
    backface-visibility: hidden;
}

.back img {
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin: 2.5%;
    transition: all 400ms ease;
    width: 95%;
    height: auto;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    object-fit: cover;
}

.versop {
    opacity: 0;
}

.chosen {
    border: 4px solid #b81414;
}

.opacity {
    filter: opacity(15%);
}

.names {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Nice Honey';
    margin: 0;
    transition: all 400ms ease;
}

.front {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.front img {
    border-radius: 10px;
    margin: 2.5%;
    transition: all 400ms ease;
    width: 95%;
    height: auto;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.verso {
    transition: all 400ms ease;
    transform: rotateY(180deg);
}

#about {
    align-items: baseline;
    flex: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#about a img {
    padding: 4px;
    background-color: #fff;
    height: 25px;
    width: auto;
    border-radius: 10px;
    right: 3%;
    vertical-align: middle;            
}

#version p {
    font-size: 13px; 
    color: white; 
    text-align: center; 
    left: 62.5%;
    width: fit-content;
    position: relative;
    transform: translateX(-50%);
}

#saiba {
    align-items: center;
    display: flex;
    right: 5%;
    flex: 20%;
    justify-content: flex-end;
}

#saiba a {
    height: 50%;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 10px;
}
